html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    font-family: 'Roboto', Arial, sans-serif;
}

.container {
    max-width: 1216px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-navs ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation {
    margin-right: 68px;
}

.header-navs {
    display: flex;
    justify-content: space-between;
}

.header-navs a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
}

.apply-button {
    display: inline-block;
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 13px 33px 0px 33px;
}

/* boshlandi */
.hero-site {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.hero-site-title {
    width: 542px;
    height: 154px;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2F2F2F;
    text-transform: capitalize;
    display: inline-block;
}

.to {
    text-transform: lowercase;
}

.build {
    color: #717CFF;
}

.hero-site-text {
    width: 632px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
    display: inline-block;
    margin-top: 15px;
}

.hero-site__link-span {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;

}
.hero-site__link-span {
    display: inline-block;
    background: #717CFF;
    border-radius: 11px;
    padding: 10px 35px 10px 34px;
}
.site-hero__link-vector {
    padding-left: 34px;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 0;
    margin-top: 103px;
}

.social-icons li{
    padding-right: 15px;
    margin-left: 5px;
}
/* univer side */

.featured-universities {
    background-color: #FAFAFA;
    padding: 55px;
}
.featured-unv__title {
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    mix-blend-mode: normal;
    opacity: 0.73;
}

.featured-unv__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 86px;
    margin-left: 128px;
    margin-right: 116px;
}

.link-button {
    border-radius: 50%;
    border: none;
    width: 14px;
    height: 14px;
    left: 667px;
    top: 1126px;
    background-color: #7C7C7C;
    transition: background-color 0.4s ease;
}

.link-button:hover {
    background-color: #717CFF;
}

.buttons {
    width: 80px;
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 2px;
    margin-top: 59px;
}

.our-servis {
    padding-top: 122px;
}

.servis-text {
    font-weight: 700px;
    font-size: 37px;
    display: flex;
    justify-content: center;
}

.servis-info {
    width: 949px;
    height: 80px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin: 0 auto;
    padding-top: 25px;
}

.card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}

.card-text {
    width: 296px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}

.icon-track {
    width: 38px;
    border-radius: 38px;
    padding: 18px;
    background-color: #717CFF;
}

.icon-album {
    width: 38px;
    border-radius: 38px;
    padding: 18px;
    background-color: #FF5959;
}

.icon-file {
    width: 38px;
    border-radius: 38px;
    padding: 18px;
    background-color:#70CE88;
}

.icon-home {
    width: 38px;
    border-radius: 38px;
    padding: 18px;
    background-color:#5C96FF;
}

.icon-air {
    width: 38px;
    border-radius: 38px;
    padding: 18px;
    background-color: #FA706C;
}

.cards-link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1120px;
    margin: 0 auto;
    margin-top: 104px;

}
.cards{
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-bottom: 50px;
    margin-left: 47px;
}

/* content part */
.news-pag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-head h2{
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

.news-head p {
    width: 291;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #7d7d7d;
}

.news-head {
    text-align: center;
    width: 950px;
    margin: auto;
    padding: 105px;
}


.news-content {
    width: 344px;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
    margin-right: 46px;
}

.content-title {
    /* width: 300px; */
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
    margin: 64px 27px;

}

.content-time {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
}

.join-here {
    background: #717CFF;
    border-radius: 11px;
    padding: 12px 97px 12px 34px;
    display: inline-block;
    margin-top: 146px;
    margin-left: 607px;
}

.join-here a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 97px 12px 34px;
    color: #fff;
}

.title-univer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-univer h2 {
    width: 580px;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    padding: 55px;
    padding-top: 98px;
}

.title-univer p{
    width: 940px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    padding-bottom: 25px;
}

.data {
    width: 112px;
    background: rgb(113, 124, 255, 0.5);
    mix-blend-mode: normal
    opacity: 0.14;
    border-radius: 11px;
    padding: 10px 22px 34px;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #717CFF
}

.date-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.qolib {
    display: flex;
}

.content-date {
    width: 540px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-left: 47px;
}

.date-conteiner span{
    width: 31px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #717CFF;
    padding: 42px 13px 23px;
}

.date-conteiner h3{
    width: 351px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
    margin-left: 19px;
}

.date-conteiner p {
    width: 481px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
    margin-top: 29px;
    margin-bottom: 26px;
}

.date-conteiner a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}

.times {
    margin-bottom: 25px;
    margin-left: 236px;
}

.link-button {
    display: inline;
    /* display: flex; */
    justify-content: center;
    margin: 0 auto;
}

/* next */

.covered-countries__wrapper {
    padding-top: 82px;
    padding-bottom: 138px;
}

.covered-countries {
    background: #FAFAFA;

}

.covered-title {
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    width: 361px;
    height: 54px;
    margin: 0 auto;
}

.covered-text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    width: 949px;
    height: 80px;
    margin: 0 auto;
    margin-top: 25px;
}

.covered-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.covered-card__img {
    margin-top: 77px;
}

.covered-card__title {
    width: 201px;
    height: 29px;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #37474F;
    margin-top: 27px;
}

.covered-card__text {
    width: 348px;
    height: 59px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: rgba(55, 71, 79, 0.721569);
    margin-top: 11px;
}


.covered-card__button {
    display: inline-block;
    border: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(124, 124, 124, 0.318837);
    padding: 0;
    margin-left: 21px;
}

.covered-card__button:active {
    border-radius: 50%;
    border: none;
    width: 14px;
    height: 14px;
    background: #717CFF;
}

.covered-card__button:focus {
    outline: none;
    border-radius: 50%;
    border: none;
    width: 10px;
    height: 10px;
    background: #717CFF;
}

.covered-card__button:hover {
    outline: none;
    border: none;
    background-color: #717CFF;;
}

.btns-upcoming {
    margin-left: 490px;
    margin-top: 83px;
}

.test-title {
    width: 192px;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    margin: 0 auto;
}

.test-text {
    width: 949px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 142px;
}

.test-card {
    width: 503px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 29px;
}

.test-card img{
    margin: 30px;
}

.test-card-boy {
    width: 503px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 29px;
}

.test-card-boy img{
    margin: 30px;
}


.contein-all h3{
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #37474F;
    margin-left: 36px;
    margin-bottom: 61px;
    display: inline-block;
}

.contein-all p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.721569);
    margin: 36px 34px 46px
}

.contein-all {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    margin: 61px;
}

.buttons-testemonial {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.link-button__testemonial {
    display: inline-block;
    border: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgba(124, 124, 124, 0.318837);
    padding: 0;
    margin-left: 21px;
}

.first-btn {
    margin-left: 0;
}

.link-button__testemonial:active {
    border-radius: 50%;
    border: none;
    width: 14px;
    height: 14px;
    background: #717CFF;
}

.link-button__testemonial:focus {
    outline: none;
    border-radius: 50%;
    border: none;
    width: 10px;
    height: 10px;
    background: #717CFF;
}

.link-button__testemonial:hover {
    outline: none;
    border: none;
    background-color: #717CFF;
